.wrapper{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    
}
input{
    border: none;
    height: 1rem;
    width: 20rem;
    padding: 20px;
    margin-top: 20px;
    
}
input:hover{
    border: 2px solid rgb(58, 228, 58);
}
button{
    margin-top: 20px;
    border: none;
    background-color: rgb(58, 228, 58);
    color: #ffff;
    height: 3rem;
    width: 22.9rem;
}
button:hover{
    background-color: aqua;
}